.main-container{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    overflow-x: hidden;
}
.sidebar{
    width: 100%;
}
@media(min-width:1800px){
    .outlet{
        width: 100%;
       
    }
   
    .mini-container{
        margin: 0;
        /* width:150%; */
        margin-left: -5rem;
        width: 100%;
    }
}
@media(max-width:1420px){
    .mini-container{
        margin: 0;
        position: relative;
        left: 2rem
    }

}
@media(max-width:1700px){
    .outlet{
        width: 100%;
    }
    .mini-container{
        margin: 0;
        width: 80%;
    }
}